body {
    background-color: inherit;
}

#gsy-content-filter {
    button {
        min-width: 80px;
    }
    
    .form-table {
        tr {
            display: none;
            
            th {
                padding-top: 15px;
                padding-bottom: 15px;
                width: 150px;
            }
            
            td {
                padding-top: 10px;
                padding-bottom: 10px;
            }
            
        }
        
        .old-word,
        .new-word,
        .filter-type {
            width: 180px;
        }
        
        .filter-type {
            padding: 6px;
        }
        
        .case-sensitive {
            margin-top: 0;
        }
        
        .delete-this-filter {
            margin-left: 10px;     
        }
    }    
}